---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Blog">
    <section
        class="relative pt-52 pb-40 max-lg:pt-52 max-lg:pb-36 max-md:pt-36 max-md:pb-32"
    >
        <div class="container">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos
            dolorem consectetur, iste tenetur labore autem? Nostrum, iusto.
            Perspiciatis, minima deleniti nulla magnam pariatur ipsam delectus.
            Eaque temporibus eos ipsum nisi?
        </div>
    </section>
</Layout>
