---
import { Badge } from '../components/ui/Badge';
import { Button } from '../components/ui/Button';
import Layout from '../layouts/Layout.astro';
import { Hero } from '../components/features';
---

<Layout title="Welcome to Astro.">
    <main class="overflow-hidden">
        <Hero />
    </main>
</Layout>
