---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Welcome to Astro.">
	<main>
		<div class=" font-kanit font-extrabold text-p3 text-6xl">hello world</div>
		<div class="text-3xl  text-p4 font-epilogue">hello world Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum fuga est itaque voluptatibus incidunt, illo repellat cumque! Consequuntur distinctio quaerat est iure ratione quo! Rem est illum labore nobis aliquam.</div>
		<p class="main-heading text-s4">hello world</p>
	</main>
</Layout>


