---
export type Props = {
    tags: string[];
    selectedTag: string | undefined;
};

const { tags, selectedTag } = Astro.props;

function getTagClasses(tag: string, selectedTag: string | undefined): string {
    const baseClasses =
        'px-4 py-2 rounded text-sm font-medium transition-colors';
    const activeClasses = 'bg-blue-500 text-white';
    const inactiveClasses = 'bg-gray-200 hover:bg-gray-300 text-gray-700';
    return `${baseClasses} ${tag === selectedTag ? activeClasses : inactiveClasses}`;
}
---

<div class="flex flex-wrap gap-2">
    <a href="/blog/tags" class={getTagClasses('', selectedTag)}> All </a>
    {
        tags.map((tag) => (
            <a
                href={`/blog/tags?tag=${tag}`}
                class={getTagClasses(tag, selectedTag)}
            >
                #{tag}
            </a>
        ))
    }
</div>
